@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  /* UI & surface colors */
  --bg-logo: #355072;
  --bg-nav-hover: rgba(76, 167, 171, .25);
  --bg-create-event: rgba(76, 167, 171, 1);
  --bg-primary: #ffffff;
  --bg-secondary: #8c8c8c;
  --bg-search-input: rgba(174, 174, 174, .1);
  --bg-delete-btn: rgba(255, 99, 71, 0.4);
  --bg-delete-btn-hover: rgba(255, 99, 71, 0.8);

  --text-primary: #585858;
  --text-secondary: #242424;
  --text-hover: #4CA7A8;
  --text-nav-title: #AEAEAE;
  --text-create-event: #fff;
  /* Brand colors */
  --red: #ef4444;
  --blue: #353739;
}

.dark,
[data-theme='dark'] {

  --bg-primary: #1a1a1a;
  --bg-secondary: #242424;

  --text-nav-title: #AEAEAE;
  --text-primary: #bfbfbf;
  --text-secondary: #8c8c8c;
}

* {
  font-family: 'DM Sans', sans-serif;
}

html,
body {
  @apply bg-primary text-secondary overflow-x-hidden break-words font-nunito font-semibold;
}

.lock-scroll {
  overflow-y: hidden !important;
}

@layer utilities {
  .container {
    @apply px-1 md:px-0 mx-auto;
    max-width: clamp(728px, 75vw, calc(1440px - 300px));
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes toRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.glass {
  @apply backdrop-blur-sm;
}

.overlay {
  @apply bg-secondary opacity-70 w-full h-full absolute cursor-pointer;
}

.react-calendar { 
 color: #222;
 border-radius: 8px;
}
.react-calendar__navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  align-items: center;
}

.react-calendar__navigation button {
 color: black;
 min-width: 44px;
 background: none;
 font-size: 16px;
 margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
 background-color: transparent;
}
.react-calendar__navigation button[disabled] {
 background-color: transparent;
}
abbr[title] {
 text-decoration: none;
 color: rgba(0, 0, 0, 0.3);
}
.react-calendar__month-view__days__day--weekend {
 color: black;
} 
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
 background:  rgba(76, 167, 168, .1);
 color: #4CA7A8;
 border-radius: 6px;
}
.react-calendar__tile--now {
 background: rgba(76, 167, 168, .1);
 border-radius: 6px;
 font-weight: bold;
 color: #4CA7A8;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
 background: rgba(76, 167, 168, .1);
 border-radius: 6px;
 font-weight: bold;
 color: #4CA7A8;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
 background: rgba(76, 167, 168, .1);
}
.react-calendar__tile--active {
 background: rgba(76, 167, 168, .2);
 border-radius: 6px;
 font-weight: bold;
 color: #fff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
 background-color: #f8f8fa;
}
.react-calendar__tile--range {
 background: #f8f8fa;
 color: #4CA7A8;
 border-radius: 0;
}
.react-calendar__tile--rangeStart {
 border-radius: 6px;
 background: rgba(76, 167, 168, .1);
 color: white;
}
.react-calendar__tile--rangeEnd {
  border-radius: 6px;
 background: rgba(76, 167, 168, .1);
 color: #4CA7A8;
}
